body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    background-color: #186850;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* max-width: 90%; */
    padding: 2rem;
}

#app-icon {
    width: 200px;
    border-radius: 22.5%;
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 3rem;
    font-weight: 800;
}

#app-description {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #cbd5e0;
    font-size: 1.25rem;
    font-weight: 600;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    padding: 12px 20px;
    margin: 4px 0;
    gap: 14px;
    border-radius: 14px;
    border: none;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-icons {
    object-fit: contain;
    width: 35px;
    height: 35px;
}

#android-btn {
    background-color: #94ffc4;
}

#ios-btn {
    background-color: white;
}

#links-div {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    font-weight: 600;
}

.links {
    text-decoration: none;
    color: #63b3ed;
}

.links:hover {
    color: #90cdf4;
    text-decoration: underline;
}

#links-divider {
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.3);
}

#app-version {
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}