<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLxUunQgqIqXhUmxGj029pqZGfYYHfAho</string>
	<key>GCM_SENDER_ID</key>
	<string>640139110259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovvice.repeater</string>
	<key>PROJECT_ID</key>
	<string>repeater-5e630</string>
	<key>STORAGE_BUCKET</key>
	<string>repeater-5e630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640139110259:ios:1e85e7464ff0228d560706</string>
</dict>
</plist>